/* Expenses table records */
.main-table {
    width: 1175px;
    border-spacing: 5px;
    border-radius: 20px;
    padding: 5px 15px 15px 15px;
    background: #662549;
}

.main-table tr {
    margin: auto;
    font-size: 22px;
}

.main-table-record {
    background: #AE445A;
}

.main-table-record td {
    padding: 5px;
    text-align: center;
    font-size: 22px;
}

.main-new-row {
    display: block;
    width: 90%;
    margin: auto;
    border:none;
    background: transparent;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}

.delete-button a {
    text-decoration: none;
    color: #ffffff;
}

/* Expenses table new item */
.add-new-item {
    width: 1000px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 15px 0;
    background: #662549;
}

::placeholder {
    color: #999999;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #999999;
}

[hidden] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Footer */