{% extends 'layout.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='insights/style.css') }}" type="text/css">
{% endblock %}

{% block title %}
  Insights
{% endblock %}

{% block main %}
  <ul class="main-list">
    <li>
      <p>
        Sum of expenses: {{ total_costs["total"] }}
      </p>
    </li>
  </ul>

  <ul class="details-list">
      {% for key in total_costs if not key == "total" %}
      <li>
        <p>
          {{ key }}: {{ total_costs[key] }}
        <p>
      </li>
      {% endfor %}
  </ul>
{% endblock %}

{% block footer%}
{% endblock %}

