/* Main */
.main {
    width: 1140px;
    border-radius: 20px;
    padding: 15px;
    background: #662549;
}

.options-list {
    list-style: none;
    padding: 0 20px;
}

.options-list li {
    display: flex;
    margin-bottom: 5px;
    border-radius: 20px;
    padding: 0 15px;
    align-items: center;
    background: #AE445A;
    font-size: 22px;

}

.options-list p {
    display: inline-block;
    width: 300px;
    text-align: left;
}

.option-list-forms 
input,
select {
    margin-left: 15px;
    font-size: 22px;
    height: 30px;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    color: #ffffff; 
    padding: 0 15px;
}

.option-list-forms-box {
    margin-left: 15px;
    font-size: 22px;
    height: 30px;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    color: #ffffff; 
    padding: 0 15px;
}

.option-list-forms button {
    font-size: 22px;
    border: none;
    background: transparent;
    color: #ffffff; 
}

