{% extends 'layout.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='settings/style.css') }}" type="text/css">
{% endblock %}

{% block title %}
  Settings
{% endblock %}

{% block main %}
  <ul class="options-list">
    <li>
      <p>
        Change limit:
      </p>
      <form action="{{ url_for('settings.add_limit') }}" method="post" class="option-list-forms">
        <input type="number" placeholder="{{ limit }}" name="limit"/>
        <button type="submit">
          <i class="fa-solid fa-pen"></i>
        </button>
      </form>
    </li>

    <li>
      <p>
        Change currency:
      </p>
      <form action="{{ url_for('settings.add_currency') }}" method="post" class="option-list-forms">
        <select required name="currency_option">
          <option value="{{ currency }}" selected>{{ currency }}</option>
          {% for curr in currencies %}
            <option value="{{ curr }}">{{ curr }}</option>
          {% endfor %}
        </select>

        <button type="submit">
          <i class="fa-solid fa-pen"></i>
        </button>
      </form>
    </li>
  </ul>
{% endblock %}

{% block footer%}
{% endblock %}
