{% extends 'layout.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}" type="text/css">
{% endblock %}

{% block title %}
  Finance tracker
{% endblock %}

{% block main %}
  <!-- total money related stats -->
  <section class="total-money-related-stats">
    <p id="limit">
      Limit: {{limit}} {{currency_symbol}}
    </p>
    <p id="money-left">
      Sum of expenses: {{ all_costs["total"] }} {{currency_symbol}}
    </p>
    <p id="limit-exceeded">
      Limit exceeded: {{ money_exceed(limit, all_costs["total"]) }} {{currency_symbol}}
    </p>
  </section>

  <!-- expenses table -->
  <table class="main-table">
    <tr class="main-table-header">
      <th>name</th>
      <th>cost</th>
      <th>category</th>
      <th>date</th>
    </tr>

    {% for expense in expenses %}
      <tr class="main-table-record">
        <td id="name" class="left-item">
          {{ expense["name"] }}
        </td>

        <td id="cost">
          {{ expense["cost"] }} {{currency_symbol}}
        </td>

        <td id="category">
          {{ expense["category"] }}
        </td>

        <td id="date">
          {{ expense["date"] }}
        </td>

        <td class="right-item delete-button">
          <a href="{{url_for('home.delete', id = expense['id'])}}">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    
    <!-- new expense form -->
    <form action="{{ url_for('home.add') }}" method="post" class="add-new-item">
      <tr class="main-table-record">
        <td class="left-item">
          <input type="text" name="name" placeholder="name..." class="main-new-row" />
        </td>

        <td>
          <input type="number" name="cost" placeholder="cost..." class="main-new-row"/>
        </td>

        <td>
          <select required name="category" class="main-new-row">
            <option value="" selected disabled hidden>category...</option>
            {% for category in categories %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </td>

        <td>
          <input required type="date" name="date" class="main-new-row"/>
        </td>

        <td class="right-item">
          <button type="submit" class="main-new-row" > 
            <i class="fa-solid fa-plus fa-lg"></i> 
          </button>
        </td>
      </tr>
      </form>
  </table>

  <!-- <h2>Sum of expenses: {{ all_costs["total"] }}</h2>
  <ul>
    {% for key in all_costs if not key == "total" %}
    <li>{{ key }}: {{ all_costs[key] }}</li>
    {% endfor %}
  </ul> -->
{% endblock %}

{% block footer%}
{% endblock %}

