html {
    background: #451952;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

/* Header */
/* Side navigation */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #662549;
    padding: 25px 25px;
}

.nav-links {
    padding: 0 25px;
    list-style: none;
}

.nav-links li {
    padding: 5px;
}

.nav-links a {
    display: flex;
    border-radius: 20px;
    align-items: center;
    background: #AE445A;
    text-decoration: none;
    color: #ffffff;
 }

 .nav-links p {
    font-size: 20px;
 }
 

.nav-links i {
    padding: 0 20px 0 15px;
    font-size: 22px;
}

/* Logo */
.logo img {
    width: 200px;
    height: 200px;
}

/* Main */
.main {
    margin-left: 295px;
}

button {
    cursor: pointer;
}

.right-item {
    border-radius: 0 20px 20px 0;
    text-decoration: none;
    color: #ffffff;
}

.left-item {
    border-radius: 20px 0 0 20px;
}

/* Basic statistics on the top */
.total-money-related-stats {
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.total-money-related-stats p {
    padding-left: 0;
    margin: 5px 0;
}

/* Expenses table records */
.main-table {
    width: 1175px;
    border-spacing: 5px;
    border-radius: 20px;
    padding: 5px 15px 15px 15px;
    background: #662549;
}

.main-table tr {
    margin: auto;
    font-size: 22px;
}

.main-table-record {
    background: #AE445A;
}

.main-table-record td {
    padding: 5px;
    text-align: center;
    font-size: 22px;
}

.main-new-row {
    display: block;
    width: 90%;
    margin: auto;
    border:none;
    background: transparent;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}

.delete-button a {
    text-decoration: none;
    color: #ffffff;
}

/* Expenses table new item */
.add-new-item {
    width: 1000px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 15px 0;
    background: #662549;
}

::placeholder {
    color: #999999;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #999999;
}

[hidden] {
    display: none;
}

/* Footer */