html {
    background: #451952;
    color: #ffffff;
    font-family: "Lucida Console", monospace;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #3f174b;
    position: fixed; /*zapytać fudali */
    top: 0;
    left: 0;
    padding: 25px;

}

.logo {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 130px;
    width: 50%;
}

.logo-img{
    width: 200px;
    height: 150px;
}
