<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/575dc4d1b1.js" crossorigin="anonymous"></script>
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>Finance tracker</title>
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon" /> -->
  </head>
  
  <body>
    <header class="header">
      <!-- Navigation bar on the left -->
      <nav class="side-nav">
        
        <!-- Company logo -->
        <a href="#" class="logo">
          <img src="{{ url_for('.static', filename='img/logo.png') }}" class="logo-img">
        </a>
        
        <!-- Options -->
        <ul class="nav-links">
          <li>
            <a href="#">
              <i class="fa-solid fa-house"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-right-to-bracket"></i>
              <p>Log out</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-gear"></i>
              <p>Settings</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-film"></i>
              <p>Tutorial</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-circle-info"></i>
              <p>About</p>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <!-- total money related stats -->
      <section class="total-money-related-stats">
        <p id="limit">
          Limit: {{limit}} $
        </p>
        <p id="money-left">
          Money left: {{ money_left(limit, all_costs["total"]) }} $
        </p>
        <p id="limit-exceeded">
          Limit exceeded: {{ money_exceed(limit, all_costs["total"]) }} $
        </p>
      </section>

      <!-- expenses table -->
      <table class="main-table">
        <tr class="main-table-header">
          <th>name</th>
          <th>cost</th>
          <th>category</th>
          <th>date</th>
        </tr>

        {% for expense in expenses %}
        <tr class="main-table-record">
          <td id="name">
            {{ expense["name"] }}
          </td>
          <td id="cost">
            {{ expense["cost"] }} $
          </td>
          <td id="category">
            {{ expense["category"] }}
          </td>
          <td id="date">
            {{ expense["date"] }}
          </td>
          <td id="delete-button">
            <a href="{{url_for('homepage.delete', id = expense['id'])}}" id="delete-button">
              Delete
            </a>
          </td>
        </tr>
        {% endfor %}
        <!-- fit in inputs-->
      </table>

      <!-- input for expenses table -->
      <form action="{{ url_for('homepage.add') }}" method="post">
        <input type="text" name="name" />
        <input type="number" name="cost" />
        <input type="date" name="date" />
        <select name="category">
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
        <button type="submit">Add</button>
      </form>

      <h2>Sum of expenses: {{ all_costs["total"] }}</h2>
      <ul>
        {% for key in all_costs if not key == "total" %}
        <li>{{ key }}: {{ all_costs[key] }}</li>
        {% endfor %}
      </ul>
    </main>

    <footer id="footer">
      <!-- <form action="{{ url_for('homepage.add_limit') }}" method="post">
        <input type="number" name="limit" />
        <button type="submit">Set limit</button>
      </form> -->
    </footer>
  </body>
</html>
